.carousel2 {

    .carousel2-img-container {
        height: 100%;

        img {
            // height: 900px;
            height: 78vh;
            object-fit: cover;
        }
    }
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin: 80px 20px 20px 20px;
    justify-items: center;

    >* {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        height: 300px;
    }

}



@media (max-width: 760px) {
    .img-container {
        margin: 40px 20px 20px 20px;
    }

    .carousel2 {
        .carousel2-img-container {
            img {
                height: 500px;
                object-fit: cover;
            }
        }
    }
}