.review-preview{
    background-color: rgba(254, 254, 254, 0.717);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
    width: auto;
    height: 10rem;
    p{
        margin: 0;
    }
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.checked{
    color: orange;
}